.ColorBox{
    width: 20%;
    height: 25%;
    margin:  0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -3.5px;
}

.SingleColorPalette .ColorBox {
    height: 50%;
}

.go-back.ColorBox{
    background: black;
}

.copy-button, 
.back-button{
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none;
    background: #ffffff44;
    font-size: 1rem;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}

.copy-button{
    opacity: 0;
}

.ColorBox:hover .copy-button{
    opacity: 1;
    transition: 400ms;
}

.box-content {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.see-more{
    background: #ffffff44;
    position: absolute;
    border: none;
    right: 0px;
    bottom: 0px;
    color: white;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

.copy-overlay{
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: transform 700ms ease-in-out;
    transform: scale(0.1);
}
.copy-overlay.show{
    opacity: 1;
    transform: scale(50);
    z-index: 10;
    position: absolute;
}
.copy-msg{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    transform: scale(0.001);
    opacity: 0;
    color: white;
}
.copy-msg h1{
    text-align: center;
    margin-bottom: 0;
    line-height: 70%;
}
.copy-msg p{
    width: 20%;
    text-align: right;
    margin: 0;
}
.copy-msg.show{
    opacity: 1;
    transform: scale(1);
    z-index: 15;
    transition: transform 40ms ease-in-out,
                opacity 700ms ease-in-out;
    transition-delay: 100ms;
}